* {
  box-sizing: border-box;
}

body {
  background: white;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

nav a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

nav {
  display: none;
}
.show{
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding-left: 1rem;
  padding-right: 1rem;
}
button{
  background: none;
  border: none;
}

@media (min-width:1024px) {
  nav {
    display: block;
  }

button {
    display: none;
  }

nav ul {
    display: flex;
  }

nav li {
    margin-right: 16px;
  }
  header{
    padding-left: 5%;
    padding-right: 5%;
  }
}
