* {
  box-sizing: border-box;
}

body {
  background: white;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

nav a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

nav {
  display: none;
}

.show {
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding-left: 1rem;
  padding-right: 1rem;
}

button {
  background: none;
  border: none;
}

#hero {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .5) 100%), url("img/intro.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: white;
  color: #374A67;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  border: 1px #374a67 solid;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.4s ease;
  margin-top: 1rem;
  display: inline-block;
}
.button:hover {
  color: white;
  background-color: #374a67;
  border-color: #fff;
}

.card a {
  text-decoration: none;
  color: #000;

}

.card p a {
  color: #b2b2b2;
  padding: 1rem;
}

.card {
  text-align: center;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  overflow: hidden;
  margin: 1rem;
}
/* overflow padeda aprundinti paveiksla */
.card img {
  width: 100%;
}

.button.button-blue {
  color: white;
  background-color: #374a67;
  border-color: #fff;
  margin: 20px;
  display: block;

}
.button.button-blue:hover{
  background-color: white;
  color: #374a67;
  border-color: #374a67;
}

#rezepte h2{
  text-align: center;
}
#abo{
  display: inline-block;

}
#newsletter{
  background: #041223;
  color: white;
  text-align: center;
  padding: 3rem 1rem;
}
.end h2{
  font-size: 1rem;
}
.email{
  border-radius: 5px;
  padding: 1rem;
}

#social{
  margin: 1rem;
}

@media (min-width:1024px) {
  nav {
    display: block;
  }

  nav button {
    display: none;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-right: 16px;
  }

  header {
    padding-left: 5%;
    padding-right: 5%;
  }

.row{
  display: flex;
}
.card{
  margin: 1rem;
}
}
